/*Border-1 class*/
.border1 {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

/*Border-2 class*/
.border2 {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}

h1 {
    text-align: center;
}

/*Styling for buttons with sport-class*/
.sport {
    margin-right: 5px;
    margin-bottom: 5px;
}

/*Styling for the card class*/
.card {
    width: 46%;
    float: left;
    margin-right: 4%;
    margin-bottom: 3%;
}

/*Styling for the gif-title class*/
.gif-title {
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}